<div class="container fadeIn">

	<div class="row">

		<div class="col-md-12">

			<h1 style="text-align:center; font-size:32px;">Blog</h1>

			<h2 style="text-align:center; font-size:32px;">New Blog Post</h2>

			<%= render 'form' %>

			<br />

			<p>
				<%= link_to("<< Back", blogs_path) %>
			</p>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});
</script>