<div class="container fadeIn">

	<div class="row" style="text-align:justify !important;">

		<div class="col-md-12">

			<h1 style="text-align:center; font-size:32px;">About</h1><br />

			<br />
			<br />

		</div>

	</div>

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<%= image_tag('about_img.jpg', style: "width:175px;height:175px; display: block; margin: 0 auto; border-radius:100px; margin-bottom:30px;") %>

		</div>

	</div>

		<div class="col-md-12">

			<div class="bio">
				
				<p style="font-size:18px; text-align:center; font-family: Geneva">Thanks for visiting! I am a web developer with experience in front-end development.
					<br />
					<br />
					I am proficient in:</p>


					<table class="table tableContent">

						<tr><td>Ruby On Rails</td></tr>
	                    <tr><td>HTML</td></tr>
	                    <tr><td>CSS</td></tr>
	                    <tr><td>JavaScript</td></tr>
	                    <tr><td>jQuery</td></tr>
	                    <tr><td>Twitter Bootstrap</td></tr>
	                    <tr><td>Responsive Web Design</td></tr>
	                    <tr><td>iOS Swift (in progress)</td></tr>


	            </table>

				<br />
				<p style="font-size:18px; padding-top:10px; margin-bottom:40px;">I have also done some programming in the back-end programming languages of PHP and Ruby On Rails.
				<br />
				<br />
				I am a self-taught programmer and have been coding for the past two-and-a-half years. I endeavor to create websites that are visually pleasing and give the best user experience possible.
				<br />
				<br />
				I have also spent time working with the Swift language to build apps for iOS devices such as the iPhone and iPad. I have a number of apps in the App Store.  You will find some of the projects I've created on the <span style="font-weight:bold; font-size:18px;"><%= link_to("Portfolio", {:action => "portfolio"}) %></a></span> page.
				<br />
				<br />
				I am currently based in Winchester, Hampshire in Southern England and I'm available for freelance work. Should you wish to contact me, then please visit the <span style="font-weight:bold; font-size:18px;"><%= link_to("Contact", {:action => "contact"}) %></a></span> page for details of how to do so.</p>
			</div>

		</div>

		<div class="col-md-6 col-md-offset-3">

			<div class="twitter">

				<a class="twitter-timeline" href="https://twitter.com/tc_web_dev" data-widget-id="666569441048666112">Tweets by @tc_web_dev</a>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>