<div class="container fadeIn">

	<div class="row">

		<div class="col-md-12">

			<h1 style="text-align:center; font-size:32px;">Contact</h1>

			<br />
			<br />

		</div>

		<div class="col-md-12" id="contact">

			<div id="content">

				<div id="primary">
					<h3 style="font-family: Geneva;">General Information</h3>
					<p style="font-family: Geneva; font-size:18px;">If you have any questions, please contact me!</p>
					<p style="font-family: Geneva; font-size:18px;">If you would like to contact me, please send a direct email or you could Tweet me!</p> 
					<p style="font-family: Geneva; font-size:18px;">I am available for freelance work, so please get in touch!</p>
				</div>

			</div>

    	</div>




	    <div class="col-md-6 col-md-offset-3">

	    	<hr />

	    </div>

	    <br />

	    <div class="col-md-12">

			<div id="content">

				<h3 style="font-family: Geneva;">Contact Details</h3>
				<ul class="contact-info">

					<div id="mail">
						<%= image_tag('mail.png', style: "width:30px;height:30px;", class: "contact-img") %>
						<li style="font-size:18px;"><a href="mailto:tcdevelopment@hotmail.com">tcdevelopment@hotmail.com</a></li>
					</div>

					<br />

					<div id="twit">
						<%= image_tag('twitter.png', style: "width:30px;height:30px;") %>
						<li style="font-size:18px;"><a href="http://twitter.com/intent/tweet?screen_name=tc_web_dev" target="_blank">@tc_web_dev</a></li>
					</div>

					<br />

					<div style="padding-bottom: 20px;">

						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<li style="font-size:18px;"><a href="https://www.linkedin.com/in/tom-caldwell-26b8b0119?authType=NAME_SEARCH&amp;authToken=EkJp&amp;locale=en_US&amp;srchid=4949064831460579903408&amp;srchindex=1&amp;srchtotal=261&amp;trk=vsrp_people_res_name&amp;trkInfo=VSRPsearchId%3A4949064831460579903408%2CVSRPtargetId%3A494906483%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" target="_blank"><p style="font-size:18px; text-decoration:none;">Tom Caldwell LinkedIn</a></li>

					</div>

				</ul>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>