<div class="container fadeIn">

	<div class="row">

		<div class="col-md-12">

			<h1 style="text-align:center; font-size:32px;">Contact</h1>

			<br />

		</div>

		<div class="col-md-12" id="contact">

			<div id="content">

				<div class="main" style="display: inline-block;">

				<section id="primary">
					<h3 style="font-family: Geneva;">General Information</h3>
					<p style="font-family: Geneva; font-size:18px;">If you have any questions, please contact me!</p>
					<p style="font-family: Geneva; font-size:18px;">If you would like to contact me, please fill out the form below, Tweet me or send a direct email.</p> 
					<p style="font-family: Geneva; font-size:18px;">I am available for freelance work, so please get in touch!</p>
    			</section>

    		</div>

    	</div>

    </div>

    <div class="col-md-6 col-md-offset-3">

    	<hr />

    </div>

    <div class="col-md-12">

		<div id="content">

			<div class="main" style="display: inline-block;">

    			<div id="secondary">
					<h3 style="font-family: Geneva;">Contact Details</h3>
					<ul class="contact-info">

						<div id="mail">
							<%= image_tag('mail.png', style: "width:30px;height:30px;", class: "contact-img") %>
							<li style="font-size:18px;"><a href="mailto:tcdevelopment@hotmail.com">tcdevelopment@hotmail.com</a></li>
						</div>

						<br />

						<div id="twit" style="padding-bottom: 20px;">
							<%= image_tag('twitter.png', style: "width:30px;height:30px;") %>
							<li style="font-size:18px;"><a href="http://twitter.com/intent/tweet?screen_name=tc_web_dev" target="_blank">@tc_web_dev</a></li>
						</div>

					</ul>

				</div>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>