<div class="container fadeIn intro">

	<div class="row">
		
		<div class="col-md-12 titleHome">

			<h1 class="homepageTitle"><span style="font-family: 'Open Sans', sans-serif; font-weight: normal; color:#C8C8C8;">T  O M  </span>  <span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> C A L D W E L L</span></h1>

			<h1 class="homepageTitle"><span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> D E V E L O P E R</span></h1>

		</div>

	</div>

	<div class="clear"></div>

	<div class="row">

		<div class="col-md-6 col-md-offset-3 homeInfo">

			<p id="welcome">WELCOME, THANK YOU FOR VISITING</p>

		</div>


		<div class="col-md-6 col-md-offset-3 homeInfo2">

			<button class="btn btn-primary btn-lg homeButton" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>

		</div>

	</div>

</div>



<section id="parallaxImage1" data-type="background" data-speed="10">

</section>



<div class="home">

	<div class="container">

		<div class="row">

			<div class="col-md-6 col-md-offset-3 homepageInfo">

				<p style="text-align:center !important; margin-bottom:60px;">So who am I...</p>

			</div>

		</div>

		<div class="row">

			<div class="col-md-6 col-md-offset-3" id="homepagePara">

				<p class="homeParagraph">Glad you asked. My name is Tom Caldwell and I am a developer of web and iOS applications. I prodiminantly do front-end development but have created the occasional back-end project as well.</p><br />

				<p class="homeParagraph">So what are my specific skills? Well I'm fluent in the following languages: <span style="font-style:italic;">HTML, CSS, JavaScript, jQuery, Twitter Bootstrap, responsive web design, Ruby on Rails and iOS Swift.</span></p><br />

				<p class="homeParagraph">I am self-taught. I've spent the past few of years honing my development skills. I endeavor to create websites that are visually pleasing and give the best user experience possible.</p><br />

				<p class="homeParagraph">As said before, I am also a Swift developer. I enjoy the challenge of building great looking, functional apps and then release them on the iOS App Store. Sorry, I do not do Android... Interested in seeing some of my recent work? Visit the portfolio page.</p>

				<div class="text-center"><%= link_to("Portfolio Page", portfolio_path, class: "btn btn-success btn-lg portfolioButton") %></div>

				<p class="homeParagraph">I am currently based in Winchester, Hampshire, a city in southern England; but we're on the internet so I am happy to be contacted from anyone, anywhere.</p>

			</div>

		</div>

		<div class="row">

			<div class="col-md-6 col-md-offset-3 homepageInfo">

				<p style="font-size:25px !important">Now you know something about me, let's get to work!</p>

				<div class="text-center"><%= link_to("Get in touch", contact_path, class: "btn btn-danger btn-lg contactButton", style: "margin-top: 20px;") %></div><br />

			</div>

		</div>

	</div>

</div>

<script>
	
	$(document).ready(function() {
		$(".navbar").hide();
	});

	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});

	$(document).ready(function(){
		$('.home').fadeIn(3000);
	});

	$(document).ready(function(){
		$('.homeInfo').fadeIn(3000);
	});

	$(document).ready(function(){
		$('.homeInfo2').fadeIn(3000);
	});

	$(".homeButton").hover(function() {
  		$("#welcome").effect("bounce");
	});

	$(".intro").css("min-height",$(window).height());

	$(".homeNav").css("min-height",$(window).height());

	$(".homeButton").click(function() {
		 $('html, body').animate({ 
		 	scrollTop : $(".home").position().top 
		 }); 
	});


	(function ($) {
	  $(document).ready(function(){

	    $(function () {
	        $(window).scroll(function () {

	            if ($(this).scrollTop() > 300) {
	                $('.navbar').fadeIn();
	            } else {
	                $('.navbar').fadeOut();
	            }

	        });
	    });

	});
  	}(jQuery));

</script>