<div class="container fadeIn intro">

	<div class="row">
		
		<div class="col-md-12 titleHome">

			<h1 class="homepageTitle"><span style="font-family: 'Open Sans', sans-serif; font-weight: normal; color:#C8C8C8;">T  O M  </span>  <span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> C A L D W E L L</span></h1>

			<h1 class="homepageTitle"><span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> D E V E L O P E R</span></h1>

		</div>

	</div>

	<div class="clear"></div>

	<div class="row">

		<div class="col-md-6 col-md-offset-3 homeInfo">

			<p>HELLO.</p>

			<button class="btn btn-primary btn-lg homeButton" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>

		</div>

	</div>

</div>

<div class="home">



</div>

<div class="container homeNav">

	<br />

	<div class="row">

		

	</div>

</div>

<script>
	
	$(document).ready(function() {
		$(".navbar").hide();
	});

	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});

	$(document).ready(function(){
		$('.home').fadeIn(3000);
	});

	$(document).ready(function(){
		$('.homeInfo').fadeIn(5000);
	});

	$(".intro").css("min-height",$(window).height());

	$(".home").css("min-height",$(window).height());

	$(".homeNav").css("min-height",$(window).height());

	$(".homeButton").click(function() {
		 $('html, body').animate({ 
		 	scrollTop : $(".home").position().top 
		 }); 
	});


	(function ($) {
	  $(document).ready(function(){

	    $(function () {
	        $(window).scroll(function () {

	            if ($(this).scrollTop() > 300) {
	                $('.navbar').fadeIn();
	            } else {
	                $('.navbar').hide();
	            }

	        });
	    });

	});
  	}(jQuery));
</script>