<div class="container fadeIn">

	<div class="row">
		
		<div class="col-md-12">

			<div style="text-align:center; margin-top:120px; margin-bottom:150px;">

				<h1 class="homepageTitle"><span style="font-family: 'Open Sans', sans-serif; font-weight: normal; color:black;">T  O M  </span>  <span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> C A L D W E L L</span></h1>

				<h1 class="homepageTitle"><span style="font-family: 'Open Sans', sans-serif; font-weight: normal; color:black">W E B  </span>  <span style="font-family: 'Quicksand', sans-serif; color: white; font-weight: normal;"> D E V E L O P E R</span></h1>

				<br />
				<br />

				<div id="imgs"><%= image_tag('img2.jpg', id: "prof_img", :style => "width:170px; height:170px; border-radius:100px;") %></div>

			</div>

		</div>

	</div>

</div>