<div class="container fadeIn">

	<div class="row">

		<div class="col-md-6 col-md-offset-3 text-center">

			<h1>Primes</h1><br />

			<div class="projectImage">

				<%= image_tag('primes.png', class: "portfolioPageImage") %>

			</div>

			<div class="projectInfo">

				<p style="font-size:21px !important;"><small>TYPE OF APPLICATION:</small> Mobile App</p>

			</div>

			<br />
			<br />

			<div class="projectDescription">

				<p style="text-align:justify; font-size:18px !important;">Primes is new iOS app available on the App Store. It allows the user not only to find out information on prime numbers, but to also type in any number and tell you whether its a prime number.</p>

			</div>

			<br />
			<br />

			<div class="text-center">

				<a href="https://itunes.apple.com/gb/app/primes/id1112802208?mt=8" class="btn btn-success btn-lg portfolioPageButton" target="_blank">View Primes in iOS App Store</a>

			</div>

			<div class="text-center">

				<%= link_to("Back to Portfolio", portfolio_path, class: "btn btn-success btn-lg portfolioPageButton") %>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>