<div class="container fadeIn">

	<div class="row">

		<div class="col-md-6 col-md-offset-3 text-center">

			<h1>The Egg House</h1><br />

			<div class="projectImage">

				<%= image_tag('egg_house.png', class: "portfolioPageImage") %>

			</div>

			<div class="projectInfo">

				<p style="font-size:21px !important;"><small>TYPE OF APPLICATION:</small> Website</p>

			</div>

			<br />
			<br />

			<div class="projectDescription">

				<p style="text-align:justify; font-size:18px !important;">The Egg House is a website built in the form of a portfolio for a holiday home. The use of the site is to show off the property and location in a modern way. It has a simple parallax design.</p>

			</div>

			<br />
			<br />

			<div class="text-center">

				<a href="http://www.theegghouse.co.uk" class="btn btn-success btn-lg portfolioPageButton" target="_blank">View The Egg House website</a>

			</div>

			<div class="text-center">

				<%= link_to("Back to Portfolio", portfolio_path, class: "btn btn-success btn-lg portfolioPageButton") %>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>