<div class="container fadeIn">

	<div class="row">

		<div class="col-md-6 col-md-offset-3 text-center">

			<h1>What Day?</h1><br />

			<div class="projectImage">

				<%= image_tag('what_day.png', class: "portfolioPageImage") %>

			</div>

			<div class="projectInfo">

				<p style="font-size:21px !important;"><small>TYPE OF APPLICATION:</small> Mobile App</p>

			</div>

			<br />
			<br />

			<div class="projectDescription">

				<p style="text-align:justify; font-size:18px !important;">What Day is another iOS app which allows you to select any date in the last 2015 years, press the button and find out which day of the week it was. I design all apps and website to look the best they possibly can for the user. Click on the logo or the title to take you to the download page.</p>

			</div>

			<br />
			<br />

			<div class="text-center">

				<a href="https://itunes.apple.com/gb/app/whatday/id1034893369?mt=8" class="btn btn-success btn-lg portfolioPageButton" target="_blank">View WhatDay in iOS App Store</a>

			</div>

			<div class="text-center">

				<%= link_to("Back to Portfolio", portfolio_path, class: "btn btn-success btn-lg portfolioPageButton") %>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>