/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= font-awesome
 *= font-awesome.min
 *= require rails_bootstrap_forms
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";


* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p, a, tr, td {
	font-family: Geneva;
	color: #818181;
	a:hover {
		color:#E7E7E7;
		text-decoration:none;
	}
	a:visited {
		color:#818181;
		text-decoration:none;
	}
}

p {
	font-size: 14px !important;
}

ul, li {
	list-style:none;
}

.clear {
	clear:both;
}

.btn:focus {
	outline:none;
	border:none;
}

body{
	font-family: "Apercu Regular",Calibri,sans-serif;
	padding:0;
	background-color:#F8F8F8;
	letter-spacing:1px;
	font-weight: normal;
	font-style: normal;
}

.fadeIn {
	display:none;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top:0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 1.0);
	overflow-y: hidden;
	transition: 0.1s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 37px;
	color: #818181;
	display: block;
	transition: 0.1s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
	text-decoration: none;
}

.navbar .nav {
	float:none;
	display:inline-block;
	margin: 0;
	padding:0;
	background-color:none;
	border: none;
}

.closebtn {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 60px !important;
}

.navbar {
	min-height: 40px !important;
	background-color:white;
	padding:0;
	margin:0;
}

.navbar {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

.navbar-left {
	display:block !important;
	margin: 0 auto !important;
	text-align:center !important;
	float:none !important;
}

@media screen and (max-width: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px;}
	.overlay-content {
		top: 5% !important;
	}
	.closebtn {
		font-size: 40px !important;
		top:15px;
		right: 20px;
	}
	#menuTag {
		display: none;
	}
}

.homeNav {
	background-color:#F0F0F0;
	width:100%;
}

.hidden {
	display: none;
}

.title {
	margin: auto;
	width: 100%;
	color: black;
	text-align: center;
	padding-top: 0px;
}

.titleWeb {
	margin: auto;
	padding-bottom: 10px;
	color: black;
	text-align: center;
	width:100%;
}

.homepageTitle {
	font-size:60px;
}

.titleBackground {
	background-color:white !important;
	width:100%;
	height:100%;
	margin-top:40px;
}

.home_image {
	height: 600px;
}

#twit_head {
	display:none;
}

.twitter, .twitter-timeline {
	margin:0 auto;
	width: 100%;
	margin: 20px 0 20px 0;
	padding:0;
}

#imgs {
	margin: 0 auto;
	margin-top: 20px;	
	margin-bottom: 20px;
	width: 220px;
}

#contact {
	text-align:justify;
}

.contact-info {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
}

.contact-info a {
	text-decoration:none;
}

.contact-info a:hover {
	color:#818181;
}

.contact-info a:visited {
	color:#818181;
}

.content {
	width: 100%;
	padding-top: 0;
	text-align: center;
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
	font-size:20px;
}

.bio {
	padding-top: 40px;
	margin-bottom: 40px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.tableContent {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.mobileApp {
	width: 100%;
	margin: auto;
	text-align: center;
	border-top: 2px solid white;
	padding-top: 10px;
	margin-bottom:40px;
}

.mobileApp p {
	font-size: 17px;
}

.conservatory p {
	font-size: 17px;
}

.webApp {
	width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
	border-top: 2px solid white;
	padding-top: 10px;
	float:left;
}

.portfolio_image {
	border-radius:50px;
}

.flash {
	color:#818181;
	text-align:center;
	font-size: 22px;
	font-weight:bold;
	height: 100px;
	width:100%;
	padding-top:30px;
	margin-bottom:20px;
	ul {
		list-style-type:none;
	}
}

input[type=text] {
	border-top:1px solid #818181 !important;
	border-left:none !important;
	border-bottom:none !important;
	border-right:none !important;
	background-color: #F8F8F8;
	border-radius:0px;
	font-size:20px;
	font-family: Geneva;
}

input[type=email] {
	border-top:1px solid #818181 !important;
	border-left:none !important;
	border-bottom:none !important;
	border-right:none !important;
	background-color: #F8F8F8;
	border-radius:0px;
	font-size:20px;
	font-family: Geneva;
}

textarea {
	border-top:1px solid #818181 !important;
	border-left:none !important;
	border-bottom:none !important;
	border-right:none !important;
	background-color: #F8F8F8 !important;
	border-radius:0px !important;
	font-size:20px !important;
	font-family: Geneva;
	height:150px !important;
}

input[type=submit] {
	border:1px solid #818181 !important;
	background-color: #F8F8F8 !important;
	border-radius:0px !important;
	font-size:20px !important;
	font-family: Geneva;
	color:#818181;
}

.blog_index {
	text-align:center;
	padding-bottom:40px !important;
	font-size:12px;
}

.blog {
	color:#818181 !important;
}

.photo {
	margin-bottom:20px;
	padding:0;
	text-align:center;
}

.commentStyle {
	font-size:15px;
}

.center {
	text-align:center;
}

.blogArticle {
	text-align:center;
	font-size:12px !important;
}

.intro {
	width:100%;
	margin:0 !important;
	padding-top:0 !important;
	height:100% !important;
	background: url('newHomeBackground');
	background-size:cover;
	text-align:center;
}

#homeIntro {
	font-size:25px !important;
	text-align:center;
	font-family: Geneva;
	margin-top:20px !important;
	width:100%;
	text-align:justify;
	padding:70px;
	color:white;
}

.homeButton {
	margin:0 auto;
	padding:20px;
	border-radius:10%;
}

.home {
	display:none;
	width:100%;
	margin-bottom:60px;
}

.titleHome {
	margin-top:50px;
	margin-bottom:60px;
}

.otherNavigation {
	display:none;
}

.homeInfo {
	margin-top:50px;
	display:none;
}

.homeInfo p {
	color: white;
	font-size:35px !important;
	text-align:center !important;
}

.homeInfo2 {
	margin-top:20px;
	text-align:center;
	display:none;
}

.homepageInfo {
	margin-top:90px;
}

.homepageInfo p {
	text-align:center;
	font-size: 35px !important;
	color: black;
}

#homepagePara {
	text-align:justify;
	font-size:21px !important;
	width:100%;
	margin:0 auto;
}

.homeParagraph {
	font-size:18px !important;
}

#parallaxImage1 {
	width:100%;
	height:400px;
	background: url('parallaxImage1') 50% 0 repeat fixed;
	background-size:cover;
	opacity: 0.5;
}

#parallaxImage2 {
	width:100%;
	height:400px;
	background: url('parallaxImage2') 50% 0 repeat fixed;
	background-size:cover;
	opacity: 0.5;
}

.text-center {
	text-align:center !important;
}

.portfolioButton{
	margin-bottom: 50px;
}

@media only screen and (max-width : 1200px) {
	.homepageTitle {
		font-size:40px;
	}

}

@media only screen and (max-width : 768px) {
	.navbar .nav li {
		border-right:none;
		margin-top:20px;
		height:25px;
		padding: 2px;
	}

	#twit_head {
		display: block;
		margin-left:5px;
		margin-top:0;
		padding-bottom:0;
	}

	.homepageTitle {
		font-size:20px;
	}

	.homeButton {
		padding:10px !important;
	}

	section {
		height: 200px !important;
	}

	#parallaxImage1 {
		width:100%;
		height:400px;
		background: url('parallaxImage1') 100% 0 no-repeat;
		background-size:cover;
		opacity: 0.9;
	}

	#parallaxImage2 {
		width:100%;
		height:400px;
		background: url('parallaxImage2') 100% 0 fixed no-repeat;
		background-size:cover;
		opacity: 0.9;
	}

}