<div class="container">

	<div class="row">

		<div class="col-md-12">

		<hr style="padding:0; margin:0;"/>

		<div class="col-md-12">

		<a href="http://www.twitter.com/tc_web_dev" target="_blank"><%= image_tag('twitter.png', style: "width:50px; height:50px; float:left; padding:0; margin:0;", class: "contact-img") %></a>

		<p style="font-size: 13px; float:right; padding-top:10px; margin:0;">&copy; MMXVI - Tom Caldwell</p>

	</div>

</div>