<div class="container fadeIn titleBackground">

	<div class="row">

		<div class="col-md-12">

			<div class="title">
				<h1><span style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 21px; color:black;">T  O M  </span>  <span style="font-family: 'Quicksand', sans-serif; color: #818181; font-weight: normal; font-size: 21px;"> C A L D W E L L</span></h1>
			</div>

			<div class="titleWeb">
				<h1><span style="font-family: 'Quicksand', sans-serif; color: #818181; font-weight: normal; font-size: 21px;"> D E V E L O P E R</span></h1>
			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fadeIn').fadeIn(3000);
	});
</script>