<div class="container">

	<div class="row">

		<div class="col-md-12">

			<div class="title">
				<h1><span style="font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; font-weight: normal; font-size: 25px;">T  O M  </span>  <span style="font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; color: #A9A9A9; font-weight: normal; font-size: 25px;"> C A L D W E L L</span></h1>
			</div>

			<div class="titleWeb">
				<h1><span style="font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; font-weight: normal; font-size: 25px;">W E B  </span>  <span style="font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; color: #A9A9A9; font-weight: normal; font-size: 25px;"> D E V E L O P E R</span></h1>
			</div>

			<hr class="hr" />

		</div>

	</div>

</div>